
.row {
  padding: 15px;
  margin: 0 auto;
  width: 50%;
  font-size: 18px;
}

.txtbox {
  width: 100%;
}

.alinea-btn {
  margin-left: 5%;
}

.btn {
  border-radius: 5px;
  background-color: rgb(49, 121, 255);
  color: white;
  width: 12%;
  padding: 12px;
  cursor: pointer;
}

.text-danger {
  display: block;
  margin-left: 5%;
  padding-top: 2px;
  color: #ff0000a6;
}

#faceptar {
  float: left;
  margin-right: 8px;
  margin-left: 8px;
  cursor: pointer;
}

input {
  border-radius: 4px;
  width: 15px;
  padding: 8px;
}