<h1>Practica 30 <small>Formulario</small> </h1>
<hr>
<br><br><br><br><br>


<div class="container">
  <form (submit)="Ir()" #formulario = "ngForm">
  <div class="row">
    

    <div class="col-5">
      <label for="fname" class="lbl">Nombres:</label>
    </div>

    <div>
      <input 
      type="text"
      id="fname"
      placeholder="Nombre"
      class="txtbox"
      name="nombre"
      [(ngModel)]= "persona.nombre"
      ngModel
      required
      minlength="10"
      #nombre="ngModel"
      [class.is.invalid]= "nombre.invalid && nombre.touched"
      pattern="[a-zA-ZñÑ\s]+$"
      >

      <small class="text-danger" *ngIf= "nombre.invalid && nombre.touched">
        Ingrese mas de 10 letras
      </small>

    </div>

  </div>


  <div class="row">

    <div class="col-5">
      <label for="flastName" class="lbl">Direccion:</label>
    </div>

    <div>
      <input 
      type="text"
      id="flastName"
      placeholder="Direccion"
      class="txtbox"
      name="direccion"
      [(ngModel)]= "persona.direccion"
      ngModel
      required
      minlength="5"
      #direccion="ngModel"
      [class.is.invalid]= "direccion.invalid && direccion.touched"
      pattern="[a-zA-ZñÑ\s]+$"
      >

      <small class="text-danger" *ngIf= "direccion.invalid && direccion.touched">
        Ingrese una Direccion valida
      </small>

    </div>

  </div>


  <div class="row">
    <div>
      <input 
      type="checkbox"
      id="faceptar"
      placeholder="aceptar"
      name="aceptar"
      [(ngModel)]= "persona.aceptar"
      ngModel
      required
      #aceptar="ngModel"
      [class.is.invalid]= "aceptar.invalid && aceptar.touched"
      >
    </div>

    <div class="col-5">
      <label for="faceptar" class="lbl">Acepta los terminos y condiciones</label>

    </div>

  </div>


  <div class="row">
    <div class="linea-btn">
      <button type="submit" class="btn" [disabled]="!formulario.valid">Ir</button>
    </div>
  </div>


</form>
</div>